* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    /* 62.5% of 16px = 10px so 1rem = 10px */
}

body {
    background: #404040;
}

#nav_bar {
    font-size: 2rem;
    background-color: #383374;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* margin-top: 0px; */
}

nav #text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    padding: 1rem;
    font-size: 1.2rem;
}

li:hover {
    background-color: rgb(18, 56, 90);
}

ul:last-child {
    border-radius: 50%;
    width: 70px;
    /* margin-right: 1rem; */
}

li {
    margin-right: 30px;
    font-size: 1.5rem;
    width: 50rem;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #404040;
    /* margin-top: 10rem;*/
    padding: 2rem;
}

.intro-box .image-wrapper {
    align-items: stretch;
}

.intro-box {
    width: 80%;
    padding: 4rem;
    color: coral;
    height: 60%;
    font-size: 3.5rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    border-radius: 10px;
    border: 0.01em solid #9fe6d9;
    border-radius: 10%;
    border-radius: 30px;
}

.intro-text {
    color: #edfdee;
    font-size: 2.8rem;
    font-family: inherit;
    letter-spacing: 1.2;
}

.hello {
    margin-bottom: 1.2rem;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-position: center center;
    object-fit: cover;
    overflow-x: hidden;
}

.list-image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.footer {
    margin-top: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d1161674;
}

.footer-text {
    font-size: 1.5rem;
}

.social-links {
    height: 2rem;
    width: 2rem;
}